*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: rgb(228, 227, 227);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ece8a6;
    
}

.randomColor{
    padding: 12px;
    padding-left: 30px;
    width:800px;
    height: 100px;
    border-radius: 6px;
    background-color: #222;
    overflow: hidden;
    display:flex;
    text-align: left;
    font-size: 60px;
    font-weight: 5px;
    color: white;
}

.button{
    background-color: transparent;
    display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    border:1px solid #000;
    bottom:205px;
    position: absolute;
    right: 100px;
    left: 100px;
    margin: 0 auto;
    width:180px;
    height: 50px;
    font-size: 20px;
    font-weight: 5px;
    border-radius: 10px;
    border: 3px solid black;
    cursor:pointer;
    color: black;
}

